<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.it.dao.DayMapper" >
  <resultMap id="BaseResultMap" type="cn.it.entity.Day" >
    <id column="day_id" property="dayId" jdbcType="INTEGER" />
    <result column="day_name" property="dayName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    day_id, day_name
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.it.entity.DayExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_day
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_day
    where day_id = #{dayId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_day
    where day_id = #{dayId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cn.it.entity.DayExample" >
    delete from t_day
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.it.entity.Day" >
    insert into t_day (day_id, day_name)
    values (#{dayId,jdbcType=INTEGER}, #{dayName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.it.entity.Day" >
    insert into t_day
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dayId != null" >
        day_id,
      </if>
      <if test="dayName != null" >
        day_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dayId != null" >
        #{dayId,jdbcType=INTEGER},
      </if>
      <if test="dayName != null" >
        #{dayName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.it.entity.DayExample" resultType="java.lang.Integer" >
    select count(*) from t_day
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_day
    <set >
      <if test="record.dayId != null" >
        day_id = #{record.dayId,jdbcType=INTEGER},
      </if>
      <if test="record.dayName != null" >
        day_name = #{record.dayName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_day
    set day_id = #{record.dayId,jdbcType=INTEGER},
      day_name = #{record.dayName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.it.entity.Day" >
    update t_day
    <set >
      <if test="dayName != null" >
        day_name = #{dayName,jdbcType=VARCHAR},
      </if>
    </set>
    where day_id = #{dayId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.it.entity.Day" >
    update t_day
    set day_name = #{dayName,jdbcType=VARCHAR}
    where day_id = #{dayId,jdbcType=INTEGER}
  </update>
</mapper>