<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.it.dao.MajorMapper" >
  <resultMap id="BaseResultMap" type="cn.it.entity.Major" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="major_name" property="majorName" jdbcType="VARCHAR" />
    <result column="academy_id" property="academyId" jdbcType="INTEGER" />
    <result column="system" property="system" jdbcType="TINYINT" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <resultMap id="BaseResultMapForList" type="cn.it.entity.Major" extends ="BaseResultMap">
    <result column="total" property="total" jdbcType="INTEGER" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, major_name, academy_id, system, create_date
  </sql>
  
  <sql id="Base_Column_List_For_List" >
    id, major_name, academy_id, system, create_date,total
  </sql>
  
  <select id="select" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_major
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectMajorByAcademy" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_major
    where academy_id = #{academyId,jdbcType=INTEGER}
  </select> 
  
  <select id="selectMajor" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_major
    where major_name = #{majorName,jdbcType=VARCHAR}
  </select>
  
  <select id="selectList" resultMap="BaseResultMap" parameterType="major" >
    select 
    <include refid="Base_Column_List" />
    from t_major
  </select>
  
  <select id="selectListPage" resultMap="BaseResultMapForList" parameterType="major" >
    select 
    <include refid="Base_Column_List_For_List" />
     from (select s.*,(select count(1) from t_major)total from t_major s)t
    where t.id limit #{pagedIndex,jdbcType=INTEGER},#{pagedSize,jdbcType=INTEGER};
  </select>
  
  <delete id="deleteList" >
  	delete from t_major where id in
  		<foreach collection="array" close=")" open="(" item="id" separator=",">
  		 #{id}
  		</foreach>
  </delete>
  
  <delete id="delete" parameterType="java.lang.Integer" >
    delete from t_major
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="cn.it.entity.Major" >
    insert into t_major (id, major_name, academy_id, 
      system, create_date)
    values (#{id,jdbcType=INTEGER}, #{majorName,jdbcType=VARCHAR}, #{academyId,jdbcType=INTEGER}, 
      #{system,jdbcType=TINYINT}, #{createDate,jdbcType=TIMESTAMP})
  </insert>
  
  <update id="update" parameterType="cn.it.entity.Major" >
    update t_major
    set major_name = #{majorName,jdbcType=VARCHAR},
      academy_id = #{academyId,jdbcType=INTEGER},
      system = #{system,jdbcType=TINYINT},
      create_date = #{createDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>