<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<!-- <typeAlias type="cn.it.entity.Dept" alias="Dept" /> -->
		 <package name="cn.it.entity"/>
	</typeAliases>
	
	<!-- <mappers>
		<mapper resource="cn/it/entity/DeptMapper.xml"/>
	</mappers> -->
</configuration>
