<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.it.dao.AcademyMapper" >
  <resultMap id="BaseResultMap" type="cn.it.entity.Academy" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="academy_name" property="academyName" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <resultMap id="BaseResultMapForList" type="cn.it.entity.Academy" extends="BaseResultMap">
    <result column="total" property="total" jdbcType="INTEGER" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, academy_name, create_date
  </sql>
  
  <sql id="Base_Column_List_For_List" >
    id, academy_name, create_date,total
  </sql>
  
  <select id="select" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_academy
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectByName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_academy
    where academy_name = #{academyName,jdbcType=VARCHAR}
  </select>
  
  <select id="selectList" resultMap="BaseResultMap" parameterType="academy" >
    select 
    <include refid="Base_Column_List" />
    from t_academy
  </select>
  
  <select id="selectListPage" resultMap="BaseResultMapForList" parameterType="academy" >
    select 
    <include refid="Base_Column_List_For_List" />
    from (select s.*,(select count(1) from t_academy)total from t_academy s)t
    where t.id limit #{pagedIndex,jdbcType=INTEGER},#{pagedSize,jdbcType=INTEGER};
  </select>
  
  <delete id="deleteList" >
  	delete from t_academy where id in
  		<foreach collection="array" close=")" open="(" item="id" separator=",">
  		 #{id}
  		</foreach>
  </delete>
  
  <delete id="delete" parameterType="java.lang.Integer" >
    delete from t_academy
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="cn.it.entity.Academy" >
    insert into t_academy (id, academy_name, create_date
      )
    values (#{id,jdbcType=INTEGER}, #{academyName,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}
      )
  </insert>

  <update id="update" parameterType="cn.it.entity.Academy" >
    update t_academy
    set academy_name = #{academyName,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>